.col {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;

    max-width: 300px;
    cursor: pointer;    
    border: none;
}



.header {
    padding: 0;
}

.img {
    width: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.title {
    margin-bottom: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.price {
    font-weight: 700;
    /* margin-bottom: 10px; */
}

.card_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}


@media (min-width: 1000px) {
    .card:hover {
        box-shadow: 0px 5px 10px rgba(150, 158, 145, 1);
        transition:  0.1s;
        /* margin-top: -5px; */
    }
}
  

@media (max-width: 500px) {
    .card {
      max-width: 100%;
    }
}
  