.customNavbarMain {
  position: absolute;
  z-index: 999;

  width: 100%;

  transition: background-color 0.2s;

  background-color: rgba(150, 158, 145, 0.7);
}

.customNavbar {
  position: absolute;
  z-index: 999;
  top: 0;

  width: 100%;

  transition: background-color 0.2s;

  background-color: rgba(150, 158, 145, 1);
}

.customNavbarMenuOpen {
  position: absolute;
  z-index: 999;
  top: 0;

  width: 100%;

  background-color: rgba(150, 158, 145, 1);
}

.logo {
  cursor: pointer;
}

.customNav {
  align-items: center;
  column-gap: 30px;

  font-size: 18px;

  --bs-navbar-color: rgba(255, 255, 255);
}
.customNavLink:hover::after {
  content: "";

  position: absolute;
  left: 4px;
  right: 4px;
  bottom: -2px;

  display: block;
  height: 3px;
  background-color: #c4c4c4;
  border-radius: 50px;
}

.customNavLink {
  position: relative;
  color: #ffff;

  text-decoration: none;
}

.customNavLink_active {
  position: relative;

  color: #ffff;
  font-weight: 400;
  text-decoration: none;
}

.customNavLink_active::after {
  content: "";

  position: absolute;
  left: 4px;
  right: 4px;
  bottom: -2px;

  display: block;
  height: 3px;
  background-color: #c4c4c4;
  border-radius: 50px;
}

.customContainerNav {
  display: flex;
  align-items: center;
  row-gap: 15px;

  height: 100vh;
  margin-top: 20px;
}

@media (max-width: 540px) {
  .customNavbarMain {
    position: absolute;
    top: 0;

    background-color: rgba(150, 158, 145, 1);
  }
  .customNavbarMenuOpen {
    position: absolute;
    top: 0;
  }
}


.count {
  position: absolute;
  z-index: 9999;
  top: -5px;
  left: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  font-size: 10px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}