.filter_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.filter_title {
    text-align: center;
    font-weight: 500;
}

.filter_btns {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}