.filter_container {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.filter_title {
    text-align: center;
    font-weight: 500;
}

.filter_btns {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.btn {
    border: none;
    background-color: #ffff;
    border-radius: 4px;

    font-size: 14px;
}

.btn:hover {
    background-color: rgb(149 164 140 / 84%);
    color: #ffff;
    transition: .3s;
}

.btn.active {
    background-color: rgb(149 164 140 / 84%);
    color: #ffff;
}