.orderItemQuantityContainer {
    text-align: center;
    
}

.orderItemQuantity {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 100px;
    height: 42px;

    font-size: 14px;
    
    border: 1px solid rgba(79, 62, 53, 0.12);
}

.orderItemQuantityBtn {
    width: 25px;
    height: 42px;
    border: none;
    border-radius: 2px;
    background-color: inherit;


}

.orderItemQuantityBtn:hover {
    color: #ffff;
    background-color: var(--main-background-btn-hover);
}

/* .orderItemQuantity span{
    color: red;

        padding: 12px 11px;
    
    border: 1px solid rgba(79, 62, 53, 0.12);
} */