.btn {
    text-align: start;

    border: none;
    border-bottom: 1px solid lightgray;
    background-color: #ffff;
    border-radius: 3px;

    font-size: 14px;
}

.btn:hover {
    background-color: rgb(149 164 140 / 84%);
    color: #ffff;
    transition: .3s;
}

.btn.active {
    background-color: rgb(149 164 140 / 84%);
    color: #ffff;
}