.sort_container {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.sort_title {
    text-align: center;
    font-weight: 500;
}

.sort_btns {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}